---
title: zz 
---

<div>
  <blockquote style="border: none;">
    <p>"Now, we're just here......to be the memories for our kids."</p>
    <footer>00:36:55,662 <cite title="Interstellar">Interstellar</cite></footer>
  </blockquote>
  <div class="row" style="margin-bottom: 10px;">
    <div class="col-md-4">
      <%= image_tag "gallery/P1130574.jpg", :alt => "ball", 
        :class => "img-rounded img-responsive" %>
    </div>
    <div class="col-md-4">
      <%= image_tag "gallery/P1130603.jpg", :alt => "whatever", 
        :class => "img-rounded img-responsive" %>
    </div>
    <div class="col-md-4">
      <%= image_tag "gallery/P1120771.jpg", :alt => "ice cream", 
        :class => "img-rounded img-responsive" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag "gallery/IMG_6131.jpg", :alt => "ice cream", 
        :class => "img-rounded img-responsive" %>
    </div>
    <div class="col-md-4">
      <%= image_tag "gallery/P1130086.jpg", :alt => "ice cream", 
        :class => "img-rounded img-responsive" %>
    </div>
    <div class="col-md-4">
      <%= image_tag "gallery/P1130425.jpg", :alt => "ice cream", 
        :class => "img-rounded img-responsive" %>
    </div>
  </div>
</div>